.container-fluid {
  padding: 0;
}

.navigation-bar {
  border-bottom: 1px solid $light-grey;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 60px;

  a {
    font-size: $navigation-link-size;
    letter-spacing: 1.3px;
    font-weight: $navigation-link-weight;
  }
}

.footer {
  position: fixed;
  height: 160px;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 24 14 14 14;
  border-top: 1px solid $light-grey;

  li {
    list-style-type: none;

    a {
      font-weight: $footer-link-weight;
      font-size: $footer-link-size;
    }
  }

  h5 {
    font-size: $footer-title-size;
    color: $medium-grey;
    font-weight: $footer-title-weight;
    margin-bottom: 10px;
  }
}

.form {
  padding-bottom: 10px;

  label {
    margin-top: 4px;
  }

  .form-group {
    margin: 10px;
  }

  .form-title {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  span.error-span {
    font-size: $font-text;
    color: $warning;
    padding-left: 0px;
    margin-left: 0px;
  }

  input, textarea, select {
    border-radius: 2px !important;
    -webkit-appearance: none;
  }
}

.list-with-search {
  border: 1px solid $light-grey;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  table {
    font-size: 11px !important;
  }

  input {
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
  }

  thead {
    border-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    color: $primary;
  }

  .search {
    margin-bottom: 10px;
  }

  margin-bottom: 10px;

  button {
    font-size: 10px;
  }

  tr, th {
    height: 80px;
    border: 0 !important;
  }

  td {
    vertical-align: middle;
  }
}

.header {
  margin-top: 20px;
  margin-bottom: 30px;

  h2 {
    color: $primary;
  }
}

.jumbotron {
  background-color: inherit;
  text-align: center;

  .material-icons {
    color: $light-grey;
    font-size: 120px;
    margin-bottom: 20px;

  }
}
