.landing {
  .commercial-info {
    padding-top: 60px;
    background-color: #fff;
    text-align: center;

    p {
      font-size: 13px;
      padding: 30px;
    }

    .material-icons {
      color: $light-grey;
      font-size: 120px;
    }
  }

  img.step {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  .login-form {
    background-color: $white;
    margin-bottom: 60px;
    @media (min-width: 1024px) {
      margin-top: 64px !important;
    }
  }

  .landing-container {
    background-color: $light-grey;
    .jumbotron {
      border-radius: 0;
      background-color: inherit;
      @media (min-width: 768px) {
        margin-bottom: -30px;
      }
    }
  }
}
